/ide-triangle-v1.1.src/build/
/ide-triangle-v1.1.src/dist/
/ide-triangle-v1.1.src/nbproject/private/
/xTriangle/build/
/xTriangle/dist/
/xTriangle/nbproject/private/
/xTriangle.src/build/
/xTriangle.src/dist/
/xTriangle.src/nbproject/private/